go 1.27.1

use (
	"./2-slices-arrays-pointers/2.6-Map,filter,reduce"
	./1-modularizaton
	./2-slices-arrays-pointers/2.1-intro
	./2-slices-arrays-pointers/2.2-copia-simples
	./2-slices-arrays-pointers/2.3-deep-copy
	./2-slices-arrays-pointers/2.4-pointers
	./2-slices-arrays-pointers/2.5-deep-copy-pointers
	./3-Maps/3.1-intro
	./3-Maps/3.2-Race-Condition
	./3-Maps/3.3-Mutex
	./3-Maps/3.4-sync-map
	./3-Maps/3.5-Cache-Mutex
	./3-Maps/3.6-Cache-SyncMap
	./4-Channels-and-concurency/4.1-intro
	./4-Channels-and-concurency/4.2-buffed-channels
)
