go 1.27.1

use (
	"./2-slices-arrays-pointers/2.6-Map,filter,reduce"
	./1-modularizaton
	./2-slices-arrays-pointers/2.1-intro
	./2-slices-arrays-pointers/2.2-copia-simples
	./2-slices-arrays-pointers/2.3-deep-copy
	./2-slices-arrays-pointers/2.4-pointers
	./2-slices-arrays-pointers/2.5-deep-copy-pointers
	./3-Maps/3.1-intro
)
